<header class="header">
    <h2><a href="/usuario/artigos"><img src="http://localhost:3000/image/images.jpeg" alt="" style="width: 70px; margin-top: 6px;" class="navbar-brand"></a></h2>
    <nav>   
        <ul style="padding-top: 14px;">
            <li class="nav-item"><a href="/usuario/artigos" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/usuario/MeusArtigos" class="nav-link">Meus-artigos</a></li>
            <li class="nav-item"><a href="/usuario/categoria" class="nav-link">Categorias</a></li>
            <li class="nav-item"><a href="/usuario/logoaut" class="nav-link">Sair</a></li>
        </ul>
    </nav>
</header>