<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar categoria</title>
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:3000/css/one.css">
</head>
<body>
    <%- include("../../../partials/header") %>
    <main class="container">
        <div class="card">
            <div class="card-header">
                <h2>Edição de categoria</h2>
            </div>
            <div class="card-body">
                <form action="/usuario/categoria/editar" method="post">
                    <input type="text" name="title" id="" class="form-control" placeholder="Defina o título da categoria" value="<%= category.title %>">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <button type="submit" class="button-submit">Confirmar alteração</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>