<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar artigo</title>
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:3000/css/one.css">
</head>
<body>
    <%- include("../../../partials/header") %>
    <main class="container">
        <div class="card">
            <div class="card-header">
                <h2>Cadastro de Artigo</h2>
            </div>
            <div class="card-body">
                <form action="/usuario/artigo/save" method="post">
                    <input type="text" name="title" id="" class="form-control" placeholder="Defina o título do artigo" required>
                    <br>
                    <textarea name="body" id="article" cols="30" rows="10" class="form-control" placeholder="Escreva o artigo aqui!" required>
                        
                    </textarea>

                    <button type="submit" class="button-submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </main>
</body>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR" ,  
        selector: '#article',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss'
      });
  </script>
</html>